// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: transparent;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  .navigation {
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      justify-content: space-between;
    }
    .save-btn {
      color: cornflowerblue;
      margin-right: 100px;
      background-color: lavender;
      border: 1px solid lavender;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0px 1px 14px 0px rgba(50, 50, 50, 0.75);
      
      cursor: pointer;
      &:hover {
        color: lightseagreen;
      }
    }
  }
  
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;  
}

footer {
  text-align: center;
  font-size: 0.8em;
}
