// styles in src/style directory are applied to the whole page
body {
    //background: #0147A7;
    color: black;
}
a {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 2px;
    margin-right: 5px;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    color: #03A9F4;
    box-shadow: 0px 1px 14px 0px rgba(50, 50, 50, 0.75);
    &:hover {
        color: blue;
    }
    &.active {
        color: #ff4b00;
    }
}
html {
    background-color: black;  
    background-image: url(/img/bg1.jpg);
}
